<form #detailsForm="ngForm" (ngSubmit)="submit(detailsForm)">
    <input required name="name" type="text" class="border rounded-md p-2" [(ngModel)]="details.name" #userName="ngModel">
    @if(userName.dirty && !userName.valid){
        <p>Its Required</p>
    }
    <div ngModelGroup="moreDetails">
        <input #userAge="ngModel" min="18" name="age" type="number" class="border rounded-md p-2" [(ngModel)]="details.age">
        @if(userAge.dirty && !userAge.valid){
        <p>Must be greater than 18</p>
    }
        <select name="gender" class="border rounded-md p-2" [(ngModel)]="details.gender">
            <option value="">-Choose One-</option>
            <option value="m">Male</option>
            <option value="f">Female</option>
        </select>
    </div>
    <button type="submit" [disabled]="!detailsForm.valid" class="border rounded-md p-2 bg-red-500 text-white disabled:opacity-10">Submit</button>
</form>